# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AndroidApp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\suciu\source\repos\AndroidApp\.idea\.idea.AndroidApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
